<div class="body">
    <div class="login">
      <form [formGroup]="validateFrm" (ngSubmit)="submitForm()">
        <h1 class="h3 mb-3 fw-normal">Editar Pacientes</h1>
        <div class="form-grid">
          <div class="form-row">
            <mat-form-field class="ancho margin-bottom" appearance="fill">
              <mat-label>Cédula</mat-label>
              <input matInput formControlName="cedula" />
              <mat-error *ngIf="validateFrm.get('cedula')?.hasError('required')">
                La cedula es requerida
              </mat-error>
            </mat-form-field>
            <mat-form-field class="ancho margin-bottom" appearance="fill">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombre" />
              <mat-error *ngIf="validateFrm.get('nombre')?.hasError('required')">
                El nombre es requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-row">
            <mat-form-field class="ancho" appearance="fill">
              <mat-label>Apellido</mat-label>
              <input matInput formControlName="apellido" />
              <mat-error
                *ngIf="validateFrm.get('apellido')?.hasError('required')"
              >
                El apellido es requerido
              </mat-error>
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
              <mat-label>Dirección</mat-label>
              <input matInput formControlName="direccion" />
              <mat-error
                *ngIf="validateFrm.get('direccion')?.hasError('required')"
              >
                La direccion es requerida
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-row-centered">
            <mat-form-field class="ancho" appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" />
              <mat-error
                *ngIf="
                  validateFrm.get('email')?.hasError('email') &&
                  !validateFrm.get('email')?.hasError('required')
                "
              >
                Ingrese un email valido
              </mat-error>
              <mat-error *ngIf="validateFrm.get('email')?.hasError('required')">
                El Email es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-row-centered">
            <mat-form-field class="ancho" appearance="fill">
              <mat-label>Contraseña</mat-label>
              <input matInput formControlName="password" />
              <mat-error
                *ngIf="validateFrm.get('password')?.hasError('required')"
              >
                La contraseña es <strong>requerida</strong>
              </mat-error>
            </mat-form-field>
          </div>
 
          <div class="button-row">
            <button
              class="custom-button"
              mat-raised-button
              mat-button
              color="primary"
            >
              Guardar 
            </button>
            <button
              (click)="regresar()"
              class="custom-button"
              mat-raised-button
              mat-button
              color="primary"
            >
              Regresar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  