<mat-toolbar color="primary">
    <span><mat-icon>local_hospital</mat-icon></span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/administrador">Consultorios</button>
    <button mat-button routerLink="/administrador/listar-medicos">Medicos</button>
    <button mat-button routerLink="/administrador/listar-pacientes">Pacientes</button>
    <button mat-button routerLink="/administrador/consultas-externas">Consultas externas</button>

    <button mat-icon-button class="example-icon" routerLink="/login" aria-label="Example icon-button with menu icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
