.titulo {
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #3f51b5;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 20px;
}

.titulo2 {
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 10px;
}

.example-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-field {
  margin: 5px;
  text-align: center;
}

.example-form .example-full-width {
  width: 250px;
  max-width: 100%;
}


.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-form2 {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example2 {
  width: 100%;
}


.mensaje-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.radiobutton-container {
  margin-right: 20px;
}

.mensaje-input-container {
  display: flex;
  flex-direction: column;
}

.mensaje-input-container form {
  margin-bottom: 10px;
}

.mensaje-input {
  margin: 5px;
  width: 150px;
}

.mat-form-field-wrapper {
  padding: 0 !important;
}

.mat-form-field-infix {
  border-radius: 3px;
  background-color: #f0f0f0;
}

.mat-form-field-flex {
  flex-direction: row-reverse;
}

.mat-form-field-label {
  width: auto;
  margin-right: 8px;
}

.mat-input-element {
  height: auto;
  padding: 4px;
}

.textbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textbox {
  width: 180px;
  height: 25px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 13px;
}

.textbox1 {
  width: 180px;
  height: 25px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 13px;
  margin-top: 19px;
}
.custom-button {
  width: 15%;
  margin: 20px auto;
  display: block;
}


.example-section {
  margin: 12px 0;
}

.example-section{
  margin-right: 15px;
}